html{
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}

#link {
    color: aquamarine;
    font-size: 16px;
    text-align: center;
    padding-bottom: 1cm;
}

h2 {
    font-weight: 300;
    font-size: 42px;
    color: white;
}

p {
    color: grey;
    font-size: 21px;
}

#foot {
    color: white;

}

#copywrite {
    color: grey;
    text-align: right;
}
 
#small-phone {
    margin-right: auto;
    margin-left: auto;
}